* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans;
  font-style: normal;
  background: #fafafa;
}

header {
  width: 100%;
  height: 69px;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;

  color: #ffffff;
}

main {
  display: flex;
  margin-top: 69px;
}

img {
  object-fit: cover;
}

/* tela inicial
".screen"
*/

.screen {
  margin: 0 auto;
}

.no-quizz {
  width: 1051px;
  height: 181px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.no-quizz p {
  font-size: 20px;
  line-height: 23px;
  width: 250px;
  height: 107px;
  text-align: center;
  color: #b9b9b9;
  margin-top: 7px;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.no-quizz button {
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #ec362d;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  margin-bottom: 33px;
  background: #fafafa;
}

.your-quizzes {
  display: flex;
  align-items: center;
  margin-top: 77px;
}

.your-quizzes ion-icon {
  width: 31px;
  height: 30px;
  color: #ec362d;
  margin-left: 26px;
}

.all-quizzes {
  margin: 0 auto;
  margin-top: 48px;
}

.screen h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.quizz-gallery {
  width: 1051px;
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
}

.quizz {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  height: 181px;
  width: 340px;
  margin-right: 10px;
  margin-bottom: 13px;

  background-color: blue;
}

.quizz span {
  height: 54px;
  font-weight: 400;
  font-size: 19px;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin: 0px 10px 7px;
  line-height: 22px;
  position: absolute;
}
.degrade {
  height: 181px;
  width: 340px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;

  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 63.54%,
    #000000 100%
  );
}

.quizz img {
  height: 181px;
  width: 340px;

  border-radius: 5px;
}

/* tela 2*/

.banner-quizz {
  width: 100vw;
  height: 227px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-quizz img {
  width: 100%;
  height: 227px;
  filter: brightness(40%);
}

.banner-quizz p {
  font-weight: 400;
  font-size: 39px;
  line-height: 45px;
  color: #ffffff;
  position: absolute;
  word-break: break-word;
}

.question-container {
  width: 759px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  padding: 18px;
  margin: 42px auto auto;
}

.result-box > div > p {
  text-align: center;
}

.questions {
  width: 688px;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px auto 0;
}

.questions p {
  font-weight: 700;
  font-size: 23px;
  color: #ffffff;
}

.question-container .options {
  width: 688px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 12px;
}

.question-container .option {
  margin-top: 20px;
  width: 329px;
  overflow: hidden;
  cursor: pointer;
}

.question-container .option img {
  width: 329px;
  height: 175px;
}

.question-container .option p {
  font-weight: 700;
  font-size: 20px;
  margin-top: 12px;
  color: #000000;
}

/* Create quizz page */

.create-quizz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create-quizz form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 256px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding-top: 21px;
  padding-bottom: 15px;
  margin-top: 27px;
}

.new-quizz-questions .form-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding-bottom: 13px;
  padding-top: 0;
  margin-top: 36px;
}

.new-quizz-questions input {
  margin-bottom: 14px;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.field-header{
  width: 564px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-header img{
  width: 26px;
  height: 23px;
}

.create-quizz h3 {
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-align: left;
  margin-bottom: 12px;
  margin-top: 27px;
  width: 564px;
}

.create-quizz input {
  width: 564px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 9px;
  padding-left: 23px;
  font-size: 19px;
  line-height: 22px;
}

.create-quizz ::placeholder {
  width: 258px;
  height: 22px;
  font-style: italic;
  font-size: 19px;
  line-height: 22px;
  color: #bababa;
  overflow: visible;
}

.create-quizz h2 {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  margin-top: 71px;
}

.create-quizz button {
  width: 369px;
  height: 54px;
  background: #ec362d;
  border-radius: 15px;
  border: none;
  margin-top: 85px;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #fff5f4;
}

.hide {
  display: none;
}

@media (max-width: 1100px) {
  main {
    margin-top: 69px;
  }

  .no-quizz {
    width: 340px;
  }

  .your-quizzes {
    margin-right: auto;
    margin-left: auto;
    width: 340px;
    justify-content: space-between;
    margin-top: 100px;
  }
  .quizzes-user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-quizz input {
    width: 341px;
    padding-left: 14px;
  }

  .create-quizz form button {
    width: 324px;
  }
  .form,
  .create-quizz {
    width: 100%;
  }

  .form-questions {
    width: 375px;
  }

}

